body{
	  background-image: url("download.jpg");
	  display: inline-block;
	  position: absolute;
	  top: 150px;
	  left: 600px;
	  border-radius: 5px;
	  border: solid 6px;
	  border-color: yellow;
}

#send{
    height: 43px;
    width: 43px;
	border-radius: 100%;
	opacity: 0.8;
	background-color: #32CD32;   //green
	font-weight: bolder;
	font-family: cursive;
	position: relative;
    right: 5px;
    bottom: 5px;
}
#send:hover{opacity: 1;}

input{
	   font-family: cursive;
       font-weight: bold;
       font-size: 15px;
       padding: 6px 6px;
       opacity: 0.6;
       border: solid 3px;
       border-color: black;
       border-radius: 24px;
       display: inline-block;
       margin: 5px;
       
     }
     input:hover{opacity: 1}

p{
	border-radius: 5px;
	display: inline-block;
    height: 17px;
    margin: 2px;
}


#name{
       font-weight: bolder;
	   font-size: 16px; 
}

#text{
       font-weight: bold;
	   font-size: 14px; 
	   background-color: #ADFF2F;
	   padding: 6px 6px;
	   font-family: cursive;
}

#friend{
         height: 40px;
         margin: 5px;
         font-weight: bold;
	     font-size: 25px; 
	     font-family: cursive;
	     display: inline-block;

}
